/* ---------------------------------------------------------
// color
// LASTE color
----------------------------------------------------------*/
$darkblue: #021b41;
$lightblue: #003c96;
// $skyblue: #40b0df;
$skyblue: #439cc2;
$darkgreen: #006536;
$lightgreen: #6AB82D;
$turquoise: #00b8ad;
$palegreen: #7BAAB6;
$darkgrey: #666666;
$lightgrey: #B3B3B3;
$yellow: #d6c615;

/* ---------------------------------------------------------
//background color
----------------------------------------------------------*/
$bgGrey: #bbbbbb;
$bgBlue: #eaf0f6;
$bgGreen: #EAFAF5;
$bgYellow: #EBF0CD;

$bgDarkGrey: #565656;
$bgDarkBlue: #cbd6e2;
$bgDarkGreen: #ABB7B3;
$bgDarkYellow: #e6fd63;

$bgHeadCopy: #425b76;


/* ---------------------------------------------------------
// font size
----------------------------------------------------------*/
$fsH1: 1.8rem;
$fsH1Sub: 0.8rem;
$fsH2: 2.8rem;
$fsH3: 1.8rem;
$fsH4: 1.5rem;
$fsNavMenu: 1.3rem;

$fsFirstViewL: 3.2rem;
$fsFirstViewM: 2.8rem;
$fsFirstViewS: 2.4rem;

$fsbodyL: 2.8rem;
$fsbodyM: 2.4rem;
$fsbodyS: 1.8rem;
$fsbodySS: 1.3rem;

$fsFooter: 1rem;


$mfsH1: 1.0rem;
$mfsH2: 1.8rem;
$mfsH3: 1.3rem;
$mfsH4: 1.0rem;
$mfsH1Sub: 0.5rem;
$mfsNavMenu: 1rem;

$mfsFirstViewL: 2.1rem;
$mfsFirstViewM: 1.4rem;

$mfsbodyL: 2.0rem;
$mfsbodyM: 1.4rem;
$mfsbodyS: 1.0rem;
$mfsbodySS: 0.8rem;

$mfsFooter: 0.8rem;

/* ---------------------------------------------------------
// break point
----------------------------------------------------------*/
$pcSize: 1399px;
$tabletSize: 1279px;
$mobileSize: 767px;


/* ---------------------------------------------------------
// font family
----------------------------------------------------------*/
$fontFamilyBase: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS P Gothic', sans-serif;
$fontFamilyHeading: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
$fontFamilyGoth: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS P Gothic', sans-serif;
// $fontFamilyMin: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
$fontFamilyMin: "游明朝体", "YuMincho", "Yu Mincho", "游明朝", "Noto Serif JP", serif;
$heiseiMaruGoth: heisei-maru-gothic-std,sans-serif;
